<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">
    
    <p>People Count: {{ people.length }}</p>

    <datalist id="names">
      <option ng-repeat="person in people">{{person.name}}</option>
    </datalist>

    Filter: <input ng-model="nameFilter" list="names">

    <table>
      <tr>
        <th ng-click="toggleOrder('id')">ID{{sortIcon}}</th>
        <th ng-click="toggleOrder('name')">Name{{sortIcon}}</th> 
        <th ng-click="toggleOrder('bio')">Bio{{sortIcon}}</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="person in people | filter: nameFilter | orderBy: orderAttribute:descending">
        <td>{{person.id}}</td>
        <td ng-click="toggleBio(person)">{{person.name}}</td> 
        <td ng-class="{strike: person.bioVisible}" >{{person.bio}}</td>
        <td><button ng-click="deletePerson(person)">Delete</button></td>
      </tr>
    </table>
    
    <h3>Errors:</h3>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>

    <h3>New Person:</h3>
    Person Name: <input ng-model="newPersonName"><br>
    Person Bio: <input ng-model="newPersonBio"><br>
    <button ng-click="addPerson(newPersonName, newPersonBio)">Add Person</button>

  </div>
</div>